
.navbar-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: darkslategray;
    width: 100vw;
    height: 60px;
    margin: -8px 0px 0px -8px;
}

a {
    font-family: 'Maven Pro', sans-serif;
    color: white;
    text-decoration: none;
}

.left-column {
    display: flex;
    justify-content: center;
    width: 10vw;
}

.center-column {
    display: flex;
    width: 45vw;
}

.center-column > .links-wrapper {
    display: flex;
    width: inherit;
}

.right-column {
    display: flex;
    width: 45vw;
}

.right-column > .links-wrapper {
    display: flex;
    justify-content: flex-end;
    width: inherit;
}

.links-wrapper a {
    background-color: #1c2f2f;
    color: white;
    padding: 21px 40px;
}